<div class="panel panel-default" style="margin-left:-3px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">Search for Documents</h3>
  </div>

  <div class="panel-body section-padding">
    <!--<h4>Intermediary</h4>-->
    <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Title Contains</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-input (inputTextSelected)='this.titleContains = $event' #inputtitleContains [value]='titleContains'
            maxlength="60"></app-input>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">System</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.system = $event' [selectedItem]='system'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Owner</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-input (inputTextSelected)='this.owner = $event' #inputowner [value]='owner'
            maxlength="60"></app-input>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Requirement Source</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.requirementsource = $event' [selectedItem]='requirementsource'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">ICC Flag</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.iccflag = $event' [selectedItem]='iccflag'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Group</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.group = $event' [selectedItem]='group'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Major Category</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.majorcategory = $event' [selectedItem]='majorcategory'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Type</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.type = $event' [selectedItem]='type'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Active</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.active = $event' [selectedItem]='active'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">DR Workbook</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.drworkbook = $event' [selectedItem]='drworkbook'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Department</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.department = $event' [selectedItem]='department'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Minor Category</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.minorcategory = $event' [selectedItem]='minorcategory'></app-dropdown>
                </div>
              </div>
            </div>
             <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Frequency</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.frequency = $event' [selectedItem]='frequency'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Company Wide</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.companywide = $event' [selectedItem]='companywide'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="row addCheckListButtons">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <!--<app-button (click)="saveData()" [disabled]='disable()' label="Display Documents" styleClass='button-action'></app-button>-->
      <app-button (click)="saveData()" label="Display Documents" styleClass='button-action'></app-button>
      <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
    </div>
  </div>
</div>